<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cookie Demo</title>
</head>
<body>
    <h1>User Login</h1>

    <form action="#" th:action="@{/dologin}" th:object="${user}" method="post">
        <table border="0">
            <tr>
                <td><lable>Email</lable></td>
                <td><input type="text" id="email" name="email" th:value="${cookieValue.value}"></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input type="text" th:field="*{password}"></td>
            </tr>
        </table>
        <input type="submit" value="Login"/>
    </form>
    <span th:text="${message}"></span>
    <span th:text="${user.email}"></span>
</body>
</html>